body {
  background-color: white;
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: block;
  text-align: center;
}

.nav-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: block;
  margin: 0;
  position: relative;
  z-index: 0;
  float: right;
}

.nav-link {
  float: right;
  padding: 10px;
  text-decoration: none;
  color: black;
  margin: 2px;

  &:hover {
    text-decoration: underline;
  }
}
